@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #03a9f4;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(25, 28, 55);
    --foreground: #ededed;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffeb3b;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins, Arial, Helvetica, sans-serif);
  transition:
    background-color 1s,
    color 1s;
}

.lightModeEnabled {
  background-color: #03a9f4;
  color: #ededed;
}

.darkModeEnabled {
  background-color: rgb(25, 28, 55);
  color: #ededed;
}

.welcomePageHeroSection {
  -webkit-text-stroke: 2px #ffeb3b;
  background-image: url('../../public/Images/WelcomePage/1AJ3.gif');
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
